header{
    text-align: center;
    background-color: rgb(171, 236, 235);
    padding: 20px;
}
nav{
    background-color: rgb(205, 253, 252);
    padding: 10px;
    margin: 5px;
}
section{
    background-color: rgb(235, 255, 255);
    padding: 15px;
}
nav a{
    color: black;
    text-decoration: none;
}
h2 {
    color: black;
}
li {
    padding: 7px;
}
img {
    padding: 7px;
}
button {
    background-color: #c08cf0;
    color: black;
    border-radius: 15px;
}
footer{
    text-align: center;
    background-color: rgb(146, 222, 221);
    padding: 5px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "title-1 content-1"
    "title-2 content-2";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.title-1 {
  grid-area: title-1;
}
.container div.content-1 {
  grid-area: content-1;
}
.container div.title-2 {
  grid-area: title-2;
}
.container div.content-2 {
  grid-area: content-2;
}